
<div class="container mt-4">
  <form class="row g-3" (ngSubmit)="searchTransactions()">
    <div class="col-md-4">
      <label for="startDate" class="form-label">Start Date</label>
      <div class="input-group">
        <input type="text" class="form-control" id="startDate" [(ngModel)]="startDate" name="startDate" placeholder="DD/MM/YYYY">
        <span class="input-group-text"><img src="assets/svg_Icons/calendar.svg"></span>
      </div>
    </div>
    <div class="col-md-4">
      <label for="endDate" class="form-label">End Date</label>
      <div class="input-group">
        <input type="text" class="form-control" id="endDate" [(ngModel)]="endDate" name="endDate" placeholder="DD/MM/YYYY">
        <span class="input-group-text"><img src="assets/svg_Icons/calendar.svg"></span>
      </div>
    </div>
    <div class="col-md-2 align-self-end">
      <button type="submit" class="btn btn-primary">Search</button>
    </div>
  </form>
</div>



<div class="container mt-4">
  <table class="table table-bordered table-striped custom-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Date</th>
        <th>Comments</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let transaction of transactions">
        <td>{{ transaction.id }}</td>
        <td>{{ transaction.date | dateFormat }}</td>
        <td>{{ transaction.comments }}</td>
        <td><a [routerLink]="['/transaction-detail', transaction.id]">View</a></td>
      </tr>
    </tbody>
  </table>
  <div class="alert alert-info" *ngIf="!transactions || transactions.length === 0">
    No data found.
  </div>
</div>


